# =========================
# Maven / Spring Boot
# =========================
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
!src/main/**/logs/

# =========================
# IntelliJ IDEA / JetBrains
# =========================
.idea/
*.iml
out/
*.ipr
*.iws

# =========================
# Eclipse / STS
# =========================
.project
.classpath
.settings/
.springBeans

# =========================
# OS / System
# =========================
.DS_Store
Thumbs.db

# =========================
# YML de configuración sensible
# =========================
/microservices/portfolios-ms/src/main/resources/application-local.yml
/microservices/portfolios-ms/src/main/resources/application-prod.yml